/* @import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap'); */


body {
  font-family: 'Sono', sans-serif;
} 

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 100px;
}

button {
  border: 1px solid rgb(195, 191, 191);
  padding:16px;
  border-radius: 40px;
  cursor:pointer;
  box-shadow: 4px 4px 5px 0px rgba(173,170,170,1);
}

button:hover {
  background-color: white;
}